<h1>ようこそ</h1>
<p>トップページです。</p>
<%= link_to 'ブランド登録(管理者用)', brands_path %>
<%= link_to 'カテゴリー登録(管理者用)', categories_path %>
<%= link_to 'アイテム登録(管理者用)', items_path %>
<%= link_to '注文履歴', mypage_order_path %>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <%= link_to 'プロフィール編集', edit_user_registration_path %>
  <%= link_to 'マイページ', "/mypage/#{current_user.id}" %>
  <%= link_to 'お気に入り一覧', "/mypage/#{current_user.id}/favorite/" %>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
<% end %>
