<% if user_signed_in? && current_user.is_admin? %>
  <div class="container py-5">
    <h1 class="fs-3 mb-5 mt-3">カテゴリー一覧</h1>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>カテゴリー名</th>
          <th>編集</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "編集", edit_category_path(category.id), class: "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @categories.empty? %>
      <div class="alert alert-info" role="alert">
        該当するカテゴリーはありません。
      </div>
    <% end %>
    <%= link_to "カテゴリー登録", new_category_path, class: "btn btn-success mt-3" %>
  </div>

  <div class="container py-5">
    <h1 class="fs-3 mb-5 mt-3">ブランド一覧</h1>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>画像</th>
          <th>ブランド名</th>
          <th>編集</th>
        </tr>
      </thead>
      <tbody>
        <% @brands.each do |brand| %>
          <tr>
            <td>
              <% if brand.image.present? %>
                <%= image_tag brand.image.url, class: "img-fluid", style: "max-height: 100px;", alt: brand.name %>
              <% else %>
                <div class="ratio ratio-1x1 bg-secondary text-center d-flex align-items-center justify-content-center" style="max-height: 100px;">
                  <span class="text-white">No Image</span>
                </div>
              <% end %>
            </td>
            <td><%= brand.name %></td>
            <td><%= link_to "編集", edit_brand_path(brand.id), class: "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @brands.empty? %>
      <div class="alert alert-info" role="alert">
        該当するブランドはありません。
      </div>
    <% end %>
    <%= link_to "ブランド登録", new_brand_path, class: "btn btn-success mt-3" %>
  </div>

  <div class="container py-5">
    <h1 class="fs-3 mb-5 mt-3">アイテム一覧</h1>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>画像</th>
          <th>アイテム名</th>
          <th>価格</th>
          <th>サイズ</th>
          <th>詳細</th>
          <th>編集</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <% if item.image.present? %>
                <%= image_tag item.image.url, class: "img-fluid", style: "max-height: 100px;", alt: item.name %>
              <% else %>
                <div class="ratio ratio-1x1 bg-secondary text-center d-flex align-items-center justify-content-center" style="max-height: 100px;">
                  <span class="text-white">No Image</span>
                </div>
              <% end %>
            </td>
            <td><%= item.name %></td>
            <td><%= item.price %>円</td>
            <td><%= size_to_size_label(item.size) %></td>
            <td><%= link_to "詳細", item_path(item), class: "btn btn-sm btn-primary" %></td>
            <td><%= link_to "編集", edit_item_path(item), class: "btn btn-sm btn-warning" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @items.empty? %>
      <div class="alert alert-info" role="alert">
        該当するアイテムはありません。
      </div>
    <% end %>
    <%= link_to "アイテム登録ページ", new_item_path, class: "btn btn-success mt-3" %>
  </div>
<% end %>

<div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "fashion_model_1.jpg", class: "d-block w-100", style: "max-height: 100vh; object-fit: cover; object-position: center;", alt: "Image 1" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "fashion_model_2.jpg", class: "d-block w-100", style: "max-height: 100vh; object-fit: cover; object-position: center;", alt: "Image 2" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "fashion_image_1.jpg", class: "d-block w-100", style: "max-height: 100vh; object-fit: cover; object-position: center;", alt: "Image 3" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="my-5 py-5">
  <h1 class="text-center">A world of color</h1>
  <p class="lead mx-auto" style="max-width: 800px;">街を見渡せば、黒、黒、また黒…。個性を表現したいのに、選択肢が少ないと感じていませんか？「A world of color」は、そんなあなたのために生まれた、カラフルなアイテムだけを集めたECサイトです。あなたらしい色を見つけて、街の景色を変えましょう。</p>
</section>

<section class="my-5 py-5">
  <h1 class="text-center">人気アイテムを見る</h1>
  <div class="text-center mt-3"> <%# ボタンを中央寄せにするためのdivを追加 %>
    <%= link_to '人気アイテム', items_path(most_favorited: "true"), class: "btn btn-primary" %>
  </div>
</section>

<section class="my-5 py-5">
  <h1 class="text-center">新着アイテムを見る</h1>
  <div class="text-center mt-3"> <%# ボタンを中央寄せにするためのdivを追加 %>
    <%= link_to '新着アイテム', items_path(latest: "true"), class: "btn btn-primary" %>
  </div>
</section>
