<h1>マイページ</h1>
<p>プロフィール画像</p>
<% if current_user.image.present? %>
  <%= image_tag current_user.image_url %>
<% else %>
  <%= image_tag "default_icon.png" %>
<% end %>
<p>名前</p>
<p><%= current_user.name %></p>
<p>電話番号</p>
<p><%= current_user.number %></p>
<p>住所</p>
<p><%= current_user.address %></p>
<p>Eメール</p>
<p><%= current_user.email %></p>
<%= link_to '編集する', edit_user_registration_path %>
