<h1>アイテム一覧画面</h1>
<h1>アイテム検索</h1>
<%= search_form_for @q, url: search_items_path do |f| %>
  <%= f.label :name_cont, 'アイテム名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.label :brand_name_cont, 'ブランド名' %>
  <%= f.search_field :brand_name_cont %>
  <br>
  <%= f.label :category_name_cont, 'カテゴリー名' %>
  <%= f.search_field :category_name_cont %>
  <br>
  <%= f.radio_button :color_eq, '' %>指定しない
  <%= f.radio_button :color_eq, '1' %>ホワイト
  <%= f.radio_button :color_eq, '2' %>グレー
  <%= f.radio_button :color_eq, '3' %>ネイビー
  <%= f.radio_button :color_eq, '4' %>ベージュ
  <%= f.radio_button :color_eq, '5' %>レッド
  <%= f.radio_button :color_eq, '6' %>ブルー
  <%= f.radio_button :color_eq, '7' %>グリーン
  <%= f.radio_button :color_eq, '8' %>イエロー
  <%= f.radio_button :color_eq, '9' %>オレンジ
  <%= f.radio_button :color_eq, '10' %>ピンク
  <%= f.radio_button :color_eq, '11' %>パープル
  <%= f.submit '検索' %>
<% end %>
<%= link_to 'アイテム登録ページ', new_item_path %>
<%= link_to '新しい順', items_path(latest: "true") %>
<%= link_to '古い順', items_path(old: "true") %>
<%= link_to 'いいね順', items_path(most_favorited: "true") %>
<%= link_to '価格が高い順', items_path(expensive: "true") %>
<%= link_to '価格が安い順', items_path(cheap: "true") %>
<% @results.each do |result| %>
  <p>アイテム名</p>
  <p><%= result.name %></p>
  <p>アイテム価格</p>
  <p><%= result.price %></p>
  <p>アイテム概要</p>
  <p><%= result.description %></p>
  <p>サイズ</p>
  <p>
    <%= size_to_size_label(result.size) %>
  </p>
  <p>カラー</p>
  <p>
    <%= color_to_color_label(result.color) %>
  </p>
  <p>性別</p>
  <p>
    <%= gender_to_gender_label(result.gender) %>
  </p>
  <p>アイテム画像</p>
  <%= image_tag result.image.url %>
  <%= link_to '編集ページ', edit_item_path(result.id) %>
  <%= link_to '詳細ページ', item_path(result.id) %>
  <%= button_to 'アイテム削除', item_path(result.id), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
