<h1>ブランド編集ページ</h1>
<%= form_with model: @brand do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name, 'ブランド名' %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :image, 'ブランドロゴ画像' %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.submit '編集する' %>
  </div>
<% end %>
