<h1>ブランド一覧ページ</h1>
<% @brands.each do |brand| %>
  <p>ブランド名</p>
  <p><%= brand.name %></p>
  <p>ブランドロゴ画像</p>
  <%= image_tag brand.image.url %>
  <%= link_to '編集ページ', edit_brand_path(brand.id) %>
  <%= button_to 'ブランド削除', brand_path(brand.id), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
<%= link_to 'ブランド登録ページ', new_brand_path %>
