<div class="container">
  <h1>ブランド一覧</h1>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @brands.each do |brand| %>
      <div class="col">
        <div class="card h-100">
          <% if brand.image.present? %>
            <%= image_tag brand.image.url, class: "card-img-top img-fluid", alt: brand.name %>
          <% else %>
            <div class="ratio ratio-1x1 bg-secondary text-center d-flex align-items-center justify-content-center">
              <span class="text-white">No Image</span>
            </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= brand.name %></h5>
            <div class="d-flex justify-content-between align-items-center">
              <%= link_to '編集', edit_brand_path(brand.id), class: "btn btn-primary btn-sm" %>
              <%= button_to '削除', brand_path(brand.id), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'ブランド登録', new_brand_path, class: "btn btn-success mt-3" %>
</div>
