<div class="container">
  <h1>ブランド登録ページ</h1>

  <%= form_with model: @brand do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, class: "form-control", autofocus: true %>
    </div>

    <div class="mb-3">
      <%= f.label :image, class: "form-label" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div>
      <%= f.submit '登録する', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
